<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>.: OFX-Tools :.</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="css/mdb.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-6">
      <div class="container-fluid">
        <a class="navbar-brand mt-2 mt-lg-0" href="/index.html"> OFX-Tools </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/conversor.html"
              >Conversor</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewer.html">Visualizador</a>
          </li>
        </ul>
      </div>
    </nav>

    <script type="text/javascript" src="js/mdb.umd.min.js"></script>
  </body>
</html>
